body, html {
    height: 100%;
    margin: 0;
    font-family: 'Yellowtail', cursive;
    overflow: scroll;
}

body {
    background-image: url('./background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.0);
    color: #eef0e9;
    text-align: right;
    padding: 10px 0;
    font-family: 'Yellowtail', cursive;
    font-size: 60px;
    margin-bottom: 0;
    letter-spacing: 0.02cm
}
 nav {
    margin-top: 0;
 }

nav table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

nav td {
    text-align: center;
    padding: 20px;
}

nav td:nth-child(1) a {
    background-color: #3D348B;
}

nav td:nth-child(2) a {
    background-color: #E6AF2E;
}

nav td:nth-child(3) a {
    background-color: #647C36;
}

nav td:nth-child(4) a {
    background-color: #191716;
}

nav a.button {
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.02cm
}

nav a.button:hover {
    background-color: #f8f8f8;
    color: black;
}


main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.content-container {
        padding: 20px;
        margin: 0 auto; /* Center the container */
        width: 2000px; /* Use a percentage-based width for responsiveness */
        background-color: #485234c0; /* Semi-transparent background */
        border-radius: 15px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
        box-sizing: border-box; /* Include padding in the width calculation */
        border-radius: 15px;
}

.Babylon {
    width: 1000px; /* Adjust width as needed */
    height: 700px; /* Adjust height as needed */
    object-fit: none; /* Ensures the image covers the circular area */
    border: 5px solid white; /* Optional: adds white border around the image */
    float: left; /* Aligns the image to the left */
    margin-right: 20px; /* Adds space between the image and the text */
}

.content-container h2 {
    color: white; 
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.02cm;
}

.content-container p {
    color: white; 
    text-align: left;
    font-family: "Crimson Text", serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal
}

.content-container figcaption {
    color: white; 
    text-align: left;
    font-family: "Crimson Text", serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: normal
}

.content-container a {
    color: rgb(0, 186, 243); 
    text-align: left;
    font-family: "Crimson Text", serif;
    font-size: 15px;
    /* text-decoration: none; */
    font-weight: 700;
    
}
